@font-face {
  font-family: Alice;
  src: url("Alice-Regular.ttf");
}

html,
body {
    height: 100%;
	color: #D0D0CE;
	margin:0;
	padding: 0;
    font-family: Alice;
    background-color: black;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}


